:root {
  /* img vars*/
  --social-facebook: url('../img/facebook.png');
  --social-youtube: url('../img/youtube.png');
  --social-insta: url('../img/insta.png');
  --social-linked: url('../img/linked.png');
  --arrow-left: url('../img/arrow-left.png');
  --arrow-left-hover: url('../img/arrow-left-hover.png');
  --arrow-right: url('../img/arrow-right.png');
  --arrow-right-hover: url('../img/arrow_right-hover.png');
  --switcher-image1: url('../img/hero-img1.png');
  --switcher-image2: url('../img/hero-img2.png');
  --flag-image1: url('../img/flag_1.webp');
  --flag-image2: url('../img/flag_2.png');
  --flag-image3: url('../img/flag_3.png');
  --promo-image1: url('../img/promo_1.png');
  --promo-image2: url('../img/promo_2.png');
  --promo-image3: url('../img/promo_3.png');
  --promo-image4: url('../img/promo_4.png');
  --procent-icon: url('../img/procent.png');
  --contact-image1: url('../img/con1.png');
  --contact-image2: url('../img/con2.png');
  --contact-image3: url('../img/con3.png');
  --contact-image4: url('../img/con4.png');
  --contact-image5: url('../img/con5.png');
  --contact-image6: url('../img/con6.png');
  --map-left: url('../img/map-l.png');
  --map-right: url('../img/map-r.png');
  --logo-esc: url('../img/logo_esc.png');
  --partner-logo1: url('../img/partner1.png');
  --partner-logo2: url('../img/partner2.png');
  --partner-logo3: url('../img/partner3.png');
  --partner-logo4: url('../img/partner4.png');
  /* color vars  */
  --hard-blue: #00A8F0;
  --main-blue: #C4ECFC;
  --hard-red: #DF270A;
  --primary-black: #000;
  --primary-white: #ffffff;
  --transparent-white: #ffffffa1;
  --primary-blue: #C4ECFC;
  --transparent-blue: #f8f9fa9a;
  /* shadows and other  */
  --promotion-items: #00000021;
}

/* modern normalize */ 
/* add content conteiner ++ */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}


body {
    overflow-x: hidden;
}


/* hide Swiper buttons */

.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}

/* hide desktop element when mobile */


.desktop-subheader { 
  display: none;
}

.language-desktop {
  display: none;
}

.right-nav{
  display: none;
}

.side-nav {
  display: none;
}

.catalog-title {
  display: none;
}

.contact-desktop {
  display: none;
}

.footer-brand {
  display: none;
}

/* navbar */

.navbar {
  background-color: var(--main-blue);
}

.custom-navbar {
    position: fixed;
    top: 0;
    padding: 15px;
    right: -80%; /* zero point of animation */
    height: 100%;
    width: 80%; /* when menu open */
    background-color: var(--transparent-blue);
    backdrop-filter: blur(20px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 2; /* index */
    padding-top: 20px;
    overflow-y: auto;

  /* child styles */
}

  .custom-navbar .parent > *:not(:first-child) {
    text-align: center;
}
  
  .custom-navbar.show {
    right: 0; /* show menu */
}

  .navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--primary-black);
    font-size: 14px;
}

  .navbar-toggler.hidden {
    display: none;
}

  .navbar-nav  {
    align-items: center;
}

/* nav links */

.nav-title {
  margin-bottom: 30px;
  font-size: 30px;
}

.nav-subtitle {
  font-size: 17px;
  margin-bottom: 40px;
}


.feedback-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.feedback-text {
  font-weight: bold;
}


.social-wrapper {
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-item {
  width: 45px;
  height: 45px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
}


.social-item:nth-child(1) .social-link {
  background-image: var(--social-facebook);
}

.social-item:nth-child(2) .social-link {
  background-image: var(--social-youtube);
}

.social-item:nth-child(3) .social-link {
  background-image: var(--social-insta);
}

.social-item:nth-child(4) .social-link {
  background-image: var(--social-linked);
}



  /* language toggler */

.language-wrapper {
  margin-bottom: 120px;
  gap: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-item {
  width: 45px;
  height: 40px;
  border-bottom: 2px solid transparent;
}

.language-button {
  width: 100%;
  height: 70%;
  border:none;
  background-size: cover;
  background-position: center;
}

.language-item.hovered {
  border-bottom: 2px solid var(--primary-black);
}


.language-item:nth-child(1) .language-button {
  background-image: var(--flag-image1); /* background 1 */
}

.language-item:nth-child(2) .language-button {
  background-image: var(--flag-image2); /* background 2 */
}

.language-item:nth-child(3) .language-button {
  background-image: var(--flag-image3); /* background 3 */
}

  /*search styles */

.topbar_wrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.finder-input {
  padding: 2.5px;  
  width: 50%;
  border: 0;
  text-align: center;
  border-bottom: 1px solid var(--primary-black);
  border-radius: 0;
  background-color: transparent;
  outline: none;
  
  /* search icon */
  
  background-image: url(../img/search.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}


.finder-input::placeholder {
  font-size: 17px;
  color: var(--primary-black);
}

/* site road map  */

.navmap-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.navmap-title{
  margin-bottom: 65px;
  text-align: right;
  padding-right: 21px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}


.navmap-text::after {
  position: absolute;
  right: -15px; /* manu padding */
  bottom: -20px;
  width: 180px;
  height: 5px;
  border-radius: 10px 0 0 10px;
  content: '';
  background-color: var(--primary-black);
}

/* hero  */

.hero-wrapper {
  position: relative;
  padding-top: 110px;
  padding-bottom: 50px;
}



.hero-switcher {
  right: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 600px;
  height: 600px;
  background-color: var(--hard-blue);
  border-radius: 50%;
}

.hero-switcher.active {
  right: -10%;
  transform: scaleX(-1); /* Flip horizontally */
  background-color: var(--hard-red);
}


.switcher-button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-size: contain;
}

.switcher-button.left {
  background-image: var(--arrow-left);
}

.switcher-button.left:hover {
  background-image: var(--arrow-left-hover);
}

.switcher-button.right {
  position: absolute;
  right: -3%;
  background-image: var(--arrow-right);
}

.switcher-button.right:hover {
  background-image: var(--arrow-right-hover);
}

.image-wrapper {
  position: absolute;
  left: 7%;
  width: 60%;
  height: 60%;
  border: 3px dashed var(--primary-black);
  border-radius: 50%;
}

.image-wrapper.active {
  border-color: var(--primary-white);
}


.switcher-image {
  width: 100%;
  height: 100%;
  background-image: var(--switcher-image1);
  background-size: cover;
  background-position: right;
  background-position-x: 100px;
  background-position-y: 9px;
  rotate: 36deg;
}


.hero-switcher.active .switcher-image {
  border-color: var(--primary-white); /* border color */
  background-image: var(--switcher-image2);
  background-position-x: 66px;
  background-position-y: -140px;
}

/* text and info section */

.info-wrapper {
  width: 40%;
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 10%;
  left: 55%;
  gap: 50px;
  text-align: center;
  font-weight: bold;
}

.info-title {
  color: var(--primary-black);
  font-size: 30px;
}

.info-pretitle {
  font-size: 19px;
  color: var(--primary-white);
}

.info-subtitle {
  color: var(--primary-white);
}

.hero-switcher.active .info-title {
  transform: scaleX(-1);
}


.hero-switcher.active .info-pretitle {
  transform: scaleX(-1);
}

.hero-switcher.active .info-subtitle {
  transform: scaleX(-1);
}


.hero-switcher.active   {
  transform: scaleX(-1);
}

.hero-switcher.active .question-wrapper {
  transform: scaleX(-1);
}

.question-wrapper {
  position: absolute;
  bottom: 6%;
  color: var(--primary-white);
}

.question-wrapper li:first-child {
  font-weight: bold;
}

.price-elipse {
  bottom: -2%;
  left: 70%;
  position: absolute;
  width: 245px;
  height: 245px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: 1px dashed var(--primary-white);
  font-weight: bold;
}

.hero-switcher.active .price-elipse {
  transform: scaleX(-1);
  border-color: var(--primary-black);
}


.promotion-wrapper {
  position: relative;
  
}

.promotion-swiper {
  padding-right: 40px;
  padding-left: 10px;
  padding-bottom: 36px;
}

.promotion-title {
  padding-left: 14px;
  margin-bottom: 20px;
  text-align: start;
  color: var(--primary-black);
  font-weight: bold;
}


li.price-title p:nth-of-type(2) {
  font-weight: normal; /* second child <p> */
}

.promotion-item {
  height: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);


  box-shadow: 0px 0px 16px -5px var(--promotion-items);
  border-radius: 14px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

.promotion-icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.swiper-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}



.promotion-item {
  width: 90px;
}


/* icon swiper logic  */

/* icon for data-swiper-slide-index="0" */
.swiper-slide[data-swiper-slide-index="0"] .promotion-icon {
  background-image: var(--promo-image1); /* background 1 */
}

/* icon for data-swiper-slide-index="1" */
.swiper-slide[data-swiper-slide-index="1"] .promotion-icon {
  background-image: var(--promo-image2); /* background 2 */
}

/* icon for data-swiper-slide-index="2" */
.swiper-slide[data-swiper-slide-index="2"] .promotion-icon {
  background-image: var(--promo-image3); /* background 3 */
}

/* icon for data-swiper-slide-index="3" */
.swiper-slide[data-swiper-slide-index="3"] .promotion-icon {
  background-image: var(--promo-image4); /* background 4 */
}


.promotion-descr {
  width: 80%;
}


.promotion-price {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 70%;
  left: 80%;
  width: 40px;
  height: 40px;
  background-color:var(--hard-blue);
  color: var(--primary-white);
  border-radius: 50%;
}

.promotion-price::after {
  content: '';
  background-image: var(--procent-icon);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70%;
  background-size: contain;
  left: 50%;
}

/* catalog section */

.shop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.catalog-list {
  padding-left: 36px;
  padding-right: 36px;
  display: grid;                  /* Use CSS Grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 40px 60px;                      /* Set space between grid items */
  margin-bottom: 45px;
}

.catalog-card {
  position: relative;
  height: 176px;
  padding-top: 15px;
  border-radius: 14px;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  box-shadow: 0px 0px 16px -5px var(--promotion-items);
}

.card-title {
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}

.catalog-descr {
  padding-left: 36px;
  padding-right: 36px;
  font-size: 12px;
  margin-bottom: 20px;
}

.card-price {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 60%;
  left: 80%;
  width: 50px;
  height: 50px;
  background-color:var(--hard-blue);
  color: var(--primary-white);
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}


/* about section */

.about-wrapper {
  padding-left: 25px; /* must be like global container */
  padding-right: 25px; /* must be like global container */
  padding-bottom: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.about-title {
  margin-bottom: 35px;
  text-align: start;
  width: 100%;
  position: relative;
  font-weight: bold;
  margin-right: auto;
}


.about-title::after {
  position: absolute;
  left: -25px;
  bottom: -10px;
  width: 180px;
  height: 2px;
  border-radius: 10px 0 0 10px;
  content: '';
  background-color: var(--primary-black);
}

.about-descr {
  font-size: 12px;
}

.contact-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  position: relative;
  font-size: 11px;
}

.contact-item::before {
  position: absolute; 
  left: -37px; /*  calculated from pagge layout  */
  width: 26px;
  height: 26px;
  content: '';
  display: inline-block;
  background-size: contain;
}

/* before element icons  */

.contact-item[data-background="contact-item1"]::before {
  background-image: var(--contact-image1);
}

.contact-item[data-background="contact-item2"]::before {
  background-image: var(--contact-image2);
}

.contact-item[data-background="contact-item3"]::before {
  background-image: var(--contact-image3);
}

.contact-item[data-background="contact-item4"]::before {
  background-image: var(--contact-image4);
}

.contact-item[data-background="contact-item5"]::before {
  background-image: var(--contact-image5);
}

.contact-item[data-background="contact-item6"]::before { /*just use in desktop */
  background-image: var(--contact-image6);
}

/* map section  */

.map-wrapper {
  position: relative;
  width: 100vw;
  height: 80px;
  display: flex;
}

.left-map, .right-map {
  width: 50%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}


.left-map {
  background-image: var(--map-right);

}

.right-map {
  background-image: var(--map-left);
}


.map-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  backdrop-filter: blur(4px);
  background-color: var(--transparent-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo-esc {
  width: 50px;
  height: 50px;
  display: block;
  background-image: var(--logo-esc);
  background-size: contain;
}

/* partners section swiper*/

.partners-swiper {
  margin-bottom: 120px;
}

.partners-list {
  gap: 10px;
}


.partners-item {
  display: inline-block;
  width: 100%;
  height: 30px;
}

/* footer  */

.footer-wrapper {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ****************** */

/* MEDIA RULES  */

/* ****************** */

/* header desktop  */ 

.desktop-header {
  z-index: 10;
  position: relative;
}

@media screen and (max-width: 1200px ) {
  .desktop-header {
    display: none;
  }

  .switcher-button .left {
    display: none;
  }
}

@media screen and (min-width: 500px) { 
  /* hero */
  .hero-switcher.active {
    right: -25%;
  }
}


@media screen and (min-width: 600px) { 
  /* hero */
  .hero-switcher.active {
    right: -45%;
  }
}

@media screen and (min-width: 900px) { 
  /* hero */
  .hero-switcher.active {
    right: -55%;
  }
}

@media screen and (min-width: 1000px) { 
  /* hero */
  .hero-switcher.active {
    right: -60%;
  }
}


@media screen and (min-width: 700px) {
  .switcher-button {
    width: 50px;
    height: 50px;
  }
}


@media screen and (min-width: 1200px) {
  /* hide mobile navigation */
  .navbar {
    display: none;
  }

  .navbar-collapse {
    display: none;
  }

  /* show side nav */
      
  .side-nav {
    display: block;
  }

  .right-nav{
    display: block;
  }

  .language-desktop {
    display: block;
  }

  /* desktop header styles */

  .desktop-header {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 54px;
    height: 125px; 
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: row;
    gap: 47px;
    margin: 0;
  }

  .navbar-brand img {
    height: 40px;
  }

  .desktop-subheader {
    margin-top: 10%;
    position: absolute;
    padding-left: 145px;
    display: inline;
  }

  .feedback-wrapper {
    font-size: 30px;
    margin-bottom: 33px;
    text-align: start;
  }

  .social-wrapper {
    align-items: start;
    margin-bottom: 0;
  }

  .navmap-wrapper {
    text-align: start;
    margin-bottom: 60px;
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    font-size: 20px;
  }

  .navmap-title { 
    text-align: start;
  }

  .navmap-text::after {
    width: 160%;
  }

  /* header input  */

  .finder-input {
    width: 30%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 9px;
    text-align: start;
    background-position-x: 97%; 
  }


  /* hero section */

  /* language switcher desktop */
  .language-desktop {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .language-title {
    font-size: 45px;
    font-weight: bold;
  }

  .language-wrapper {
    flex-direction: column;
    gap: 18px;
    margin: 0;
  }

  .hero-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: start;
    display: flex;
  }

  .hero-switcher {
    left: auto;
    right: auto;
  }

  .hero-switcher.active {
    left: auto;
    right: auto;
  }


  .info-wrapper {
    align-items: center;
    width: 40%;
    left: 50%;
    white-space: normal;
  }

  .question-wrapper{
    display: none;
  }

  .info-title {
    text-align: start;
    font-size: 30px;
  }

  .hero-switcher.active .info-title { 
    transform: scaleX(-1);
  }

  .info-pretitle {
    width: 80%;
    font-size: 25px;
  }

  .info-subtitle {
    font-size: 25px;
  }

  .image-wrapper {
    left: -6%;
    top: 5%;
    width: 55%;
    height: 55%;
  }

  .switcher-image {
    pointer-events: auto;
    position: absolute;
    left: -60%;
    bottom: -85%;
    width: 230%;
    height: 230%;
    rotate: 20deg;
    background-position-x: 0;
    background-position-y: 0;
  }

  .hero-switcher.active .switcher-image {
    left: 10%;
    top: -14%;
    background-position-x: 0;
    background-position-y: 0;
    width: 160%;
    height: 160%;
  }

  .price-elipse {
    position: relative;
    top: 40%;
    left: 35%;
    font-size: 35px;
  }

  .switcher-button {
    top: 55%;
    position: absolute;
    z-index: 10;
    width: 70px;
    height: 70px;
  }

  .switcher-button.left {
    left: -3%;
  }


  .switcher-button.right {
    right: -3%;
  }

/* core page */
/* shop section */

  .page-core {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
  }

  .content-wrapper {
    width: 60%;
  }


  .shop-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/* promotion section  */

  .promotion-wrapper {
    position: relative;
  }


  .promotion-item {
    width: 240px;
  }

  .promotion-title {
    text-align: center;
    color: var(--primary-white);
    font-size: 45px;
  }

  .promotion-price {
    left: 65%;
    width: 100px;
    height: 100px;
  }

  .promotion-price::after {
    width: 70px;
    height: 70px;
  }

  .price-inner {
    font-size: 20px;
  }

  .promotion-descr {
    font-size: 20px;
  }

  .promotion-swiper {
    overflow: hidden;
    padding-bottom: 45px;
  }

  .promotion-item {
    height: 330px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 50%;
    width: 70px;
    height: 70px;
    background-size: cover;
  }


  .swiper-button-next {
    background-image: var(--arrow-right);
    right: -10%;
  }

  .swiper-button-prev {
    background-image: var(--arrow-left);
    left: -10%;
  }

  .swiper-button-next::after {
    content: none;
  }

  .swiper-button-prev::after {
    content: none;
  }

/* catalog section  */


  .catalog-title {
    text-align: center;
    display: block;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .catalog-list{
    padding: 0;
    width: fit-content;
    margin: 0 auto;
    gap: 52px 46px;
    grid-template-columns: repeat(3, 1fr);
  }


  /* card style */

  .catalog-card {
    position: relative;
    height: 330px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-price {
    top: 65%;
    left: 75%;
    width: 100px;
    height: 100px;
    font-size: 20px;
  }


  .catalog-descr {
    display: none;
  }

/* about section  */


  .about-wrapper {
    padding-bottom: 100px;
    padding-left: 142px;
    padding-right: 142px;
  }

  .about-title {
    font-size: 35px;
  }

  .about-title::after {
    left: -142px;
    width: 75%;
    height: 4px;
    border-radius: 0 10px 10px 0;
  }

  .about-descr {
    margin-top: 60px;
    font-size: 20px;
  }

/* map */

.contact-wrapper.mobile {
  display: none;
}

.contact-desktop {
  display: flex;
  justify-content: space-between;
  width: 95%; /* place for pseudo elements */
}

.contact-list.right {
  transform: scaleX(-1); /* reverse list  */
}

.contact-item.right::before {
  transform: scaleX(-1); /* reverse icon back to normal position*/
}

.contact-list.right .contact-link {
  transform: scaleX(-1); /* reverse text back to normal position*/
  text-align: end;
}

.map-wrapper {
  height: 315px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.map-logo {
  width: 220px;
  height: 220px;
}


.logo-esc {
  width: 100px;
  height: 100px;
}

.map-subtitle{
  display: none;
}


/* partner section  */
  
  .partners-slide {
    width: 280px
  }

  .partners-list {
    justify-content: center;
    gap: 170px;
  }

  .partners-item {
    height: 60px;
  }

/* hide event button  */

  .partners-swiper .swiper-button-next,
  .partners-swiper .swiper-button-prev {
    display: none;
  }

/* footer  */

  .footer-wrapper {
    padding-bottom: 40px;
    padding-right: 200px;
    padding-left: 200px;
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-wrapper {
    margin: 0;
  }


  .logo-esc {
    width: 100px;
    height: 100px;
  }

  .footer-brand {
    display: inline;
  }


}

@media screen and (min-width: 1600px) {

  /* header */
  .nav-item {
    font-size: 30px;
  }


  /* hero section */
  .info-title {
    font-size: 70px;
  }
  
  .hero-switcher {
    width: 800px;
    height: 800px;
    left: auto;
    right: auto;
  }
}

.price-elipse {
  width: 376px;
  height: 376px;
}

@media screen and (min-width: 1600px) {
  .hero-switcher {
    width: 1024px;
    height: 1024px;
  }
}


