:root {
  /* img vars*/
  --social-facebook: url('../img/facebook.png');
  --social-youtube: url('../img/youtube.png');
  --social-insta: url('../img/insta.png');
  --arrow: url('../img/arrow.png');
  --arrow-hover: url('../img/arrow_hover.png');
  --switcher-image1: url('../img/hero-img1.png');
  --switcher-image2: url('../img/hero-img2.png');
  --flag-image1: url('../img/flag_1.webp');
  --flag-image2: url('../img/flag_2.png');
  --flag-image3: url('../img/flag_3.png');
  --promo-image1: url('../img/promo_1.png');
  --promo-image2: url('../img/promo_2.png');
  --promo-image3: url('../img/promo_3.png');
  --promo-image4: url('../img/promo_4.png');
  --procent-icon: url('../img/procent.png');
  /* color vars  */
  --hard-blue: #00A8F0;
  --main-blue: #C4ECFC;
  --hard-red: #DF270A;
  --primary-black: #000;
  --primary-white: #ffffff;
  --primary-blue: #C4ECFC;
  --transparent-blue: #f8f9fa9a;
  /* shadows and other  */
  --promotion-items: #00000021;
}

/* modern normalize */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}


body {
    overflow-x: hidden;
}


.navbar {
  background-color: var(--main-blue);
}

.custom-navbar {
    position: fixed;
    top: 0;
    padding: 15px;
    right: -80%; /* zero point of animation */
    height: 100%;
    width: 80%; /* when menu open */
    background-color: var(--transparent-blue);
    backdrop-filter: blur(20px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 2; /* index */
    padding-top: 20px;
    overflow-y: auto;

  /* child styles */
}

  .custom-navbar .parent > *:not(:first-child) {
    text-align: center;
}
  
  .custom-navbar.show {
    right: 0; /* show menu */
}
  
  /* button style */
  .btn-close {

}

  .navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--primary-black);
    font-size: 14px;
}

  .navbar-toggler.hidden {
    display: none;
}

  .navbar-nav  {
    align-items: center;
}

  /* Classs */


/* nav links */
    
  .nav-title {
    margin-bottom: 30px;
    font-size: 30px;
}

  .nav-subtitle {
    font-size: 17px;
    margin-bottom: 40px;
}


  .feedback-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

  .feedback-text {
    font-size: 20px;
    font-weight: bold;
}


  .social-wrapper {
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

  .social-item {
    width: 45px;
    height: 45px;
}

  .social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
}


  .social-item:nth-child(1) .social-link {
    background-image: var(--social-facebook);
}

.social-item:nth-child(2) .social-link {
    background-image: var(--social-youtube);
}

.social-item:nth-child(3) .social-link {
    background-image: var(--social-insta);
}

.social-item:nth-child(4) .social-link {
    background-image: var(--social-linked);
}



  /* language toggler */

  .language-wrapper {
    margin-bottom: 120px;
    gap: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .language-item {
    width: 45px;
    height: 40px;
    border-bottom: 2px solid transparent;
}

  .language-button {
    width: 100%;
    height: 70%;
    border:none;
    background-size: cover;
    background-position: center;
}

  .language-item.hovered {
    border-bottom: 2px solid var(--primary-black);
}


  .language-item:nth-child(1) .language-button {
    background-image: var(--flag-image1); /* background 1 */
}

  .language-item:nth-child(2) .language-button {
    background-image: var(--flag-image2); /* background 2 */
}

  .language-item:nth-child(3) .language-button {
    background-image: var(--flag-image3); /* background 3 */
}





  /*search styles */

  .topbar_wrapper {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

  .finder-input {
    padding: 2.5px;  
    width: 50%;
    border: 0;
    text-align: center;
    border-bottom: 1px solid var(--primary-black);
    border-radius: 0;
    background-color: transparent;
    outline: none;
    
    /* search icon */
    
    background-image: url(../img/search.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}


  .finder-input::placeholder {
    font-size: 17px;
    color: var(--primary-black);
}

/* site road map  */

.navmap-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.navmap-title{
  margin-bottom: 65px;
  text-align: right;
  padding-right: 21px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}


.navmap-text::after {
  position: absolute;
  right: -15px; /* manu padding */
  bottom: -20px;
  width: 180px;
  height: 5px;
  border-radius: 10px 0 0 10px;
  content: '';
  background-color: var(--primary-black);
}

/* hero  */

.hero-wrapper {
  padding-top: 110px;
  padding-bottom: 50px;
}



.hero-switcher {
  right: 45%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 600px;
  height: 600px;
  background-color: var(--hard-blue);
  border-radius: 50%;
}

.hero-switcher.active {
  right: -4%;
  transform: scaleX(-1); /* Flip horizontally */
  background-color: var(--hard-red);
}


.switcher-button {
  position: absolute;
  top: 50%;
  left: calc(100% - 20px);
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-image: var( --arrow);
}

.switcher-button:hover {
  background-image: var( --arrow-hover);
}

.switcher-button.active {
  background-image: var(--arrow); /* Replace with your actual image path */
  left: calc(100% - 20px); /* Adjust right position for left side */
}

.switcher-button.active:hover {
  background-image: var(--arrow-hover); /* Replace with your actual image path */
  left: calc(100% - 20px); /* Adjust right position for left side */
}



.image-wrapper {
  position: absolute;
  left: 13%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 50%;
  width: 60%;
  height: 60%;
}


.switcher-image {
  width: 100%;
  height: 100%;
  background-image: var(--switcher-image1);
  background-size: cover;
  background-position: right;
  background-position-x: 100px;
  background-position-y: 9px;
  rotate: 36deg;
  border-color: var(--primary-black);
  border-style: dashed;
  border-radius: 50%;
}


.hero-switcher.active .switcher-image {
  border-color: var(--primary-white); /* border color */
  background-image: var(--switcher-image2);
  background-position-x: 66px;
  background-position-y: -140px;
}

/* text and info section */

.info-wrapper {
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  bottom: 20%;
  left: 60%;
  gap: 50px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}


.info-title {
  color: var(--primary-black);
  font-size: 30px;
}

.info-pretitle {
  margin-left: 25%;
  font-size: 19px;
  color: var(--primary-white);
}

.info-subtitle {
  position: relative;
  margin-left: 45%;
  color: var(--primary-white);
}

.hero-switcher.active .info-title {
  transform: scaleX(-1);
}


.hero-switcher.active .info-pretitle {
  transform: scaleX(-1);
  margin-left: 0;
}

.hero-switcher.active .info-subtitle {
  transform: scaleX(-1);
}



.price-wrapper {
  left: 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 40px;
  top: 40%;
  font-weight: bold;
  white-space: nowrap
}

.hero-switcher.active   {
  transform: scaleX(-1);
}

.hero-switcher.active .price-title {
  transform: scaleX(-1);
}

.price-title {
  color: var(--primary-white);
}

.price-elipse {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border-style: dashed;
  border-color: var(--primary-white);
}

.hero-switcher.active .price-elipse {
  transform: scaleX(-1);
  border-color: var(--primary-black);
}


.promotion-wrapper {
  position: relative; 
}

.promotion-title {
  color: var(--primary-black);
  font-weight: bold;
}


li.price-title p:nth-of-type(2) {
  font-weight: normal; /* second child <p> */
}

.swiper-container {
  padding: 12px 0 35px 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  gap: 37px;
  height: 150px;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;


  box-shadow: 0px 0px 16px -5px var(--promotion-items);
  border-radius: 14px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}

/* icon swiper logic  */

/* icon for data-swiper-slide-index="0" */
.swiper-slide[data-swiper-slide-index="0"] .promotion-icon {
  background-image: var(--promo-image1); /* background 1 */
}

/* icon for data-swiper-slide-index="1" */
.swiper-slide[data-swiper-slide-index="1"] .promotion-icon {
  background-image: var(--promo-image2); /* background 2 */
}

/* icon for data-swiper-slide-index="2" */
.swiper-slide[data-swiper-slide-index="2"] .promotion-icon {
  background-image: var(--promo-image3); /* background 3 */
}

/* icon for data-swiper-slide-index="3" */
.swiper-slide[data-swiper-slide-index="3"] .promotion-icon {
  background-image: var(--promo-image4); /* background 4 */
}




.promotion-descr {
  width: 60%;
}

.promotion-icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.promotion-price {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 70%;
  left: 80%;
  width: 40px;
  height: 40px;
  background-color:var(--hard-blue);
  color: var(--primary-white);
  border-radius: 50%;
}

.promotion-price::after {
  content: '';
  background-image: var(--procent-icon);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70%;
  background-size: contain;
  left: 50%;
}

/* hide buttons  */

.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}


/* catalog section */

.catalog-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}

.catalog-list {
  width: 80%;
  display: grid;                  /* Use CSS Grid layout */
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 40px 60px;                      /* Set space between grid items */
  list-style-type: none;          /* Remove default list markers */
  padding: 0;                     /* Remove default padding */
  margin: 0;                      /* Remove default margin */
}

.catalog-card {
  height: 176px;
  padding-top: 15px;
  border-radius: 14px;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  box-shadow: 0px 0px 16px -5px var(--promotion-items);
}

.card-title {
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}

.card-price {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 50%;
  left: 80%;
  width: 50px;
  height: 50px;
  background-color:var(--hard-blue);
  color: var(--primary-white);
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}